.home-page-container {
  background-color: var(--color-grey-light-3);
  width: 80%;
  max-height: 1000vh;
  color: var(--color-grey-dark-3);
  position: relative;
  top: 8rem;
  margin-left: 5rem;
  // margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
body {
}

.border-line {
  border-bottom: solid#000;
  width: 10rem;
}
.title-disc-img-container {
  display: flex;
  gap: 15rem;
}
.title-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.disc-img {
  height: 30rem;
  margin-right: 3rem;
  // border-radius: 1rem;
}
.heading-one {
  color: var(--color-primary);
  // color: var(--color-primary-light);
  color: var(--color-grey-dark-3);
}
.paragraph-one {
  color: var(--color-grey-dark-2);
}
.join-us-btn {
  background-color: var(--color-primary);
  width: 30%;
  transition: 0.2s;
}
.join-us-btn:hover {
  background-color: var(--color-primary-light);
  border: 0;
}

// TESTIMONIAL SECTION
.testimonial-section {
  // background-color: #087f5b;
  // background-color: var(--color-primary);
  border: solid var(--color-primary);
  // color: #fff;
  color: var(--color-grey-dark-2);
  display: flex;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  margin-top: 7rem;
  img {
    width: 20rem;
    height: 15rem;
    border-radius: 12px;
  }
}
.testimonial-box {
  grid-column: 2 /-1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #e6fcf5;
  color: var(--color-grey-dark-2);
}
.testimonial-author {
  color: #c3fae8;
  color: var(--color-grey-dark-2);
}
.testimonial-grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}
.grid-3-cols {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // column-gap: 50px;
  // width: 40rem;
  width: 100%;
  height: 45rem;
  // background-color: green;
  // height: 22rem;
}

/* CHAIRS */
.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0.8rem;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 32rem;
  height: auto;
  margin-left: 26rem;
  // margin-bottom: 40rem;
  // width: ;
  // height: 17rem;
  // display: flex;
  // flex-direction: column;
  img {
    // width: 30%;
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
  }
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // border-top-right-radius: 0;
  // height: 100%;
}
.chair-box {
  padding: 0.5rem 0.5rem;
  height: 15rem;
  // background-color: green;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 30rem;
  margin-bottom: 10px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
}

.chair-price {
  // display: flex;
  // justify-content: space-between;
  // gap: 1rem;
  // background-color: red;
  // font-size: 20px;
  .btn-small {
    // background-color: #c3fae8;
    // background-color: #fff;
    // border: solid var(--color-primary);
    // color: red;
  }
}
.link-small {
  display: flex;
  // background-color: red;
  gap: 0.5rem;
}
.read-more-icon {
  // background-color: red;
  // margin-bottom: 0;
  margin-top: 0.2rem;
}
.read-more-container {
  // background-color: green;
  display: flex;
  // align-self: center;
  // justify-content: center;
}
.global-class-name {
  // background-color: black;
}

.key-benefits-container {
  margin-top: 8rem;
  text-align: center;
  width: 100%;
}
// CARDS
.card-container {
  margin-top: 6rem;
  // background-color: red;
  // background-color: blue;
  width: 100%;

  // margin-left: 10rem;
  max-height: 100vh;
  // height: 20rem;
  display: flex;
  // gap: 30rem;
  align-items: center;
  justify-content: center;
  // margin-bottom: 4rem;
}
.chair-box-child {
  height: auto;
}
// IMAGES
.opportunities {
  // height: 20rem;
}
.exploration {
  // height: 20rem;
}
.info-share {
  // height: 20rem;
}
.inspire-others {
  // height: 20rem;
}
.networking {
  // height: 20rem;
}
.inspiring-others-container {
  display: flex;
  gap: 1rem;
}
.networking-container {
  display: flex;
  gap: 1rem;
}

@media screen and (600px <= width <= 1074px) {
  .home-page-container {
    background-color: var(--color-grey-light-3);
    // background-color: red;
    width: 80%;
    max-height: 1000vh;
    color: var(--color-grey-dark-3);
    // position: relative;
    top: 7rem;
    margin-left: 2rem;
    // margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }
  .title-disc-img-container {
    display: flex;
    flex-direction: column;
    // background-color: green;
    gap: 4rem;
  }

  .disc-img {
    // height: auto;
    width: 85%;
    height: 95%;
    margin-right: 3rem;
    // border-radius: 1rem;
  }
  .heading-one {
    color: var(--color-primary);
    // color: var(--color-primary-light);
    color: var(--color-grey-dark-3);
    font-size: 3rem;
  }
  .title-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(50px, 75%, 500px);
    // background-color: blue;
    // width: 50%;
  }

  // TESTIMONIAL SECTION
  .testimonial-grid-3-cols {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // column-gap: 50px;
    display: flex;
    flex-direction: column;
    img {
      width: 97%;
      height: auto;
    }
  }

  // CARDS
  .card-container {
    margin-top: 2rem;
    // background-color: red;
    // background-color: blue;
    width: 100%;

    // margin-left: 10rem;
    // max-height: 100vh;
    // height: 20rem;
    height: auto;
    // height: 20rem;
    display: flex;
    // gap: 30rem;
    align-items: center;
    justify-content: center;
    // margin-bottom: 4rem;
  }
  .chair-box-child {
    height: auto;
  }

  .inspiring-others-container {
    display: flex;
    gap: 1rem;
  }
  .networking-container {
    display: flex;
    gap: 1rem;
  }
  .chair {
    width: 20rem;
    // height: 32rem;
    height: auto;
    margin-left: 10rem;
    // margin-bottom: 40rem;
    // width: ;
    // height: 17rem;
    // display: flex;
    // flex-direction: column;
    img {
      // width: 30%;
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .grid-3-cols {
    width: 100%;
    height: 45rem;
    // background-color: green;
  }
}

@media screen and (420px < width <= 600px) {
  .home-page-container {
    background-color: var(--color-grey-light-3);
    // background-color: red;
    width: 80%;
    max-height: 1000vh;
    color: var(--color-grey-dark-3);
    // position: relative;
    top: 7rem;
    margin-left: 3rem;
    // margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }
  .title-disc-img-container {
    display: flex;
    flex-direction: column;
    // background-color: green;
    gap: 4rem;
  }
  .disc-img {
    // height: auto;
    width: 85%;
    height: 95%;
    margin-right: 3rem;
    // border-radius: 1rem;
  }
  .join-us-btn {
    width: 40%;
  }

  .testimonial-section {
    width: 90%;
    margin-top: 6rem;
  }
  .heading-one {
    color: var(--color-primary);
    // color: var(--color-primary-light);
    color: var(--color-grey-dark-3);
    font-size: 3rem;
  }
  .title-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(50px, 75%, 500px);
    // background-color: red;
    // width: 50%;
  }

  // TESTIMONIAL SECTION
  .testimonial-grid-3-cols {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // column-gap: 50px;
    display: flex;
    flex-direction: column;
    img {
      width: 97%;
      height: auto;
    }
  }

  .testimonial-box {
    grid-column: 2 /-1;
    align-self: center;
  }

  .testimonial-box h2 {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .testimonial-text {
    font-style: italic;
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 1.7;
    color: #e6fcf5;
    color: var(--color-grey-dark-2);
  }
  .testimonial-author {
    color: #c3fae8;
    color: var(--color-grey-dark-2);
    font-size: 11px;
  }
  // CARDS
  .card-container {
    margin-top: 2rem;
    // background-color: red;
    font-size: 12px;
    // background-color: blue;
    width: 100%;

    // margin-left: 10rem;
    // max-height: 100vh;
    // height: 20rem;
    height: auto;
    // height: 20rem;
    display: flex;
    // gap: 30rem;
    align-items: center;
    justify-content: center;
    // margin-bottom: 4rem;
  }
  .chair-box-child {
    height: auto;
    h3 {
      font-size: 15px;
    }
  }

  .inspiring-others-container {
    display: flex;
    gap: 1rem;
  }
  .networking-container {
    display: flex;
    gap: 1rem;
  }
  .chair {
    width: 20rem;
    // height: 32rem;
    height: auto;
    margin-left: 3rem;
    // margin-bottom: 40rem;
    // width: ;
    // height: 17rem;
    // display: flex;
    // flex-direction: column;
    img {
      // width: 30%;
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .grid-3-cols {
    width: 100%;
    height: 43rem;
    // background-color: green;
  }
}

@media screen and (width <= 420px) {
  .home-page-container {
    background-color: var(--color-grey-light-3);
    // background-color: red;
    width: 80%;
    max-height: 1000vh;
    color: var(--color-grey-dark-3);
    // position: relative;
    top: 7rem;
    margin-left: 2rem;
    // margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }
  .title-disc-img-container {
    display: flex;
    flex-direction: column;
    // background-color: green;
    gap: 3rem;
  }
  .heading-one {
    color: var(--color-primary);
    // color: var(--color-primary-light);
    color: var(--color-grey-dark-3);
    font-size: 2rem;
  }

  .disc-img {
    // height: auto;
    width: 90%;
    height: auto;
    margin-right: 3rem;
    // border-radius: 1rem;
  }
  .join-us-btn {
    width: 60%;
  }
  .title-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // width: clamp(50vh, 50vh, 500px);
    width: 60%;
    // background-color: green;

    // width: 50%;
  }

  // TESTIMONIAL SECTION

  .testimonial-section {
    width: 90%;
    margin-top: 6rem;
    // background-color: red;
  }
  .testimonial-grid-3-cols {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // column-gap: 50px;
    display: flex;
    flex-direction: column;
    // font-size: 0.1rem;
    img {
      width: 97%;
      height: auto;
    }
  }

  .testimonial-box {
    grid-column: 2 /-1;
    align-self: center;
  }

  .testimonial-box h2 {
    margin-bottom: 24px;
    font-size: 15px;
  }

  .testimonial-text {
    font-style: italic;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.7;
    color: #e6fcf5;
    color: var(--color-grey-dark-2);
  }
  .testimonial-author {
    color: #c3fae8;
    color: var(--color-grey-dark-2);
    font-size: 10px;
  }
  // CARDS
  .card-container {
    margin-top: 2rem;
    // background-color: red;
    font-size: 12px;
    // background-color: blue;
    width: 100%;

    // margin-left: 10rem;
    // max-height: 100vh;
    // height: 20rem;
    height: auto;
    // height: 20rem;
    display: flex;
    // gap: 30rem;
    align-items: center;
    justify-content: center;
    // margin-bottom: 4rem;
  }
  .chair-box-child {
    height: auto;
    h3 {
      font-size: 15px;
    }
  }

  .inspiring-others-container {
    display: flex;
    gap: 1rem;
  }
  .networking-container {
    display: flex;
    gap: 1rem;
  }
  .chair {
    width: 20rem;
    // height: 32rem;
    height: auto;
    margin-left: 1rem;
    // margin-bottom: 40rem;
    // width: ;
    // height: 17rem;
    // display: flex;
    // flex-direction: column;
    img {
      // width: 30%;
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .grid-3-cols {
    width: 100%;
    height: 43rem;
    // background-color: green;
  }
}
