.sidebar {
  background-color: var(--color-grey-dark-4);
  color: var(--color-grey-light-1);
  height: 100%;
  width: 100%;
  padding: 1.2rem 2.4rem;
  position: relative;
  font-size: 1.6rem;
  &--close {
    color: var(--color-grey-dark-1);
    z-index: 10000;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
  }
  &__user {
    background-color: var(--color-grey-dark-3);
    color: var(--color-grey-dark-1);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    border-left: 0.4rem solid var(--color-primary);
    &--image {
      display: grid;
      place-items: center;
      margin-right: 1rem;
      img {
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 50%;
        border: 0.4rem solid var(--color-grey-dark-3);
        background-color: var(--color-grey-dark-4);
      }
    }
    &--image-icon {
      display: grid;
      place-items: center;
      margin-right: 1rem;
    }
  }

  &__nav {
    margin-top: 8rem;
    &__list {
      text-align: start;
      list-style: none;
      padding: 0.8rem;
      border: 0.1rem solid var(--color-grey-dark-3);
      border-radius: 0.4rem;
      margin-bottom: 1.2rem;
      &:hover,
      &:focus {
        background-color: var(--color-grey-dark-3);
        transition: 0.35s;
      }
      &__link {
        text-decoration: none;
        color: var(--color-grey-light-1);
        display: flex;
        align-items: center;
        // &--icon {
        //   margin-right: 0.8rem;
        // }
        &--text {
          margin-left: 1.6rem;
          margin-top: -0.4rem;
        }
      }
    }
  }
  &__footer {
    color: var(--color-grey-dark-1);
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    width: 100%;
    font-size: 1.6rem;
    &__content {
      padding: 2.4rem;
      text-align: start;
      position: relative;
      &::before {
        content: "";
        height: 0.1rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        right: 0rem;
        background-image: linear-gradient(
          to right,
          var(--color-primary),
          hsl(221.8, 75%, 26.7%),
          var(--color-primary-dark),
          hsl(274.9, 86%, 36.5%),
          var(--color-secondary)
        );
      }
    }
  }
}
